body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global-header {
    background-color: #f35555;
    padding: 20px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    height: 50px;
}

.primary-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.primary-menu li {
    display: inline;
}

.primary-menu .menu-item {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    padding: 10px 15px;
    transition: color 0.3s;
}

.primary-menu .menu-item:hover {
    color: #eef0f3;
}

.main {
    display: flexbox;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    align-content: center;
}

.hero-video-slider {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.hero-video-slider .slide video {
    width: 100%;
    max-width: 900px; /* Ajusta este valor al tamaño deseado */
    height: auto;
    display: block;
    margin: 0 auto; /* Centrar el video horizontalmente */
}


.image-text-component {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.text-content{
    background-color: #555;
    text-align: center;
}

.text-content .subtitle {
    font-weight: 700;
    color: #555;
    margin-bottom: 10px;
}

.text-content h2 {
    font-size: 2em;
    margin: 0 0 20px;
}

.text-content p {
    margin: 0 0 20px;
}

.cta-link {
    text-decoration: none;
    color: #007bff;
    font-weight: 700;
    transition: color 0.3s;
}

.cta-link:hover {
    color: #f2f3f4;
}

.global-footer {
    background-color: #f35555;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 20px; /* Añadir padding para un mejor diseño */
    box-sizing: border-box;
    bottom: 0px;
}

.global-footer > div {
    flex: 1;
    margin-right: 10px;
    min-width: 200px;
    
}

.global-footer p {
    font-weight: 1000;
    margin-bottom: 10px;
}

.global-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-footer li {
    text-align: center;
    margin-bottom: 10px;
}

.global-footer a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.global-footer a:hover {
    color: #f5f6f7;
}

.global-footer p {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}
