body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.global-header {
    background-color: #ffffff00;
    padding: 20px 0;
}

.header-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff; /* Color de fondo */
    border-bottom: 1px solid #ddd; /* Borde inferior opcional */
    z-index: 1000; /* Asegura que el header esté por encima de otros elementos */
    padding: 10px; /* Espaciado interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional para efecto visual */
}

.logo img {
    height: 80px;
}
.primary-menu {
    display: flex;
    align-items: center;
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
}

.primary-menu ul {
    display: flex;
    width: 100%; /* Ocupa todo el ancho disponible */
    padding: 0;
    margin: 0;
    list-style: none;
}

.primary-menu li {
    margin-right: 20px;
}

.primary-menu .modal-button-container {
    margin-left: auto; /* Empuja este elemento hacia la derecha */
}

.primary-menu .menu-item, .modal-button {
    text-decoration: none;
    cursor: pointer;
    color: #333;
    font: inherit;
    font-weight: 700;
    padding: 10px 15px;
    transition: color 0.3s;
}

.primary-menu .menu-item:hover, .modal-button:hover {
    color: #eef0f3;
}


.main {
    display: flexbox;
    padding: 0px;
    width: 100%;
    margin: 0 auto;
    align-content: center;
}

/* Estilo para el contenedor del carrusel de videos */
.hero-video-slider {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
}

/* Estilo para cada slide del carrusel */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

/* Estilo para los videos dentro del carrusel */
.swiper-slide video {
    width: 100%;
    height: auto;
    max-height: 100%;
}

/* Estilo para los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}



.image-text-component {
    display: flex;
    align-items: center;
    background-color: #555; /* Fondo gris para todo el componente */
    padding: 20px;
    margin: 5px;
    color: white; /* Color blanco para el texto */
}

.image-text-component img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-right: 20px; /* Espacio entre la imagen y el texto */
}

.text-content {
    flex: 2;
    text-align: left; /* Alineación del texto a la izquierda */
    color: white; /* Color blanco para el texto */
}

.text-content .subtitle {
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.text-content h2 {
    font-size: 2em;
    margin: 0 0 20px;
}

.text-content p {
    margin: 0 0 20px;
    font-size: 1.1em;
    margin-right: 2em;
}



.cta-link {
    text-decoration: none;
    color: #007bff;
    font-weight: 700;
    transition: color 0.3s;
}

.cta-link:hover {
    color: #f2f3f4;
}

.global-footer {
    background-color: #f35555;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 20px; /* Añadir padding para un mejor diseño */
    box-sizing: border-box;
    bottom: 0px;
    flex-shrink: 0;
    position: -ms-page;
}

.global-footer > div {
    flex: 1;
    margin-right: 10px;
    min-width: 200px;
}

.global-footer p {
    font-weight: 1000;
    margin-bottom: 10px;
}

.global-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.global-footer li {
    text-align: center;
    margin-bottom: 10px;
}

.global-footer a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}

.global-footer a:hover {
    color: #f5f6f7;
}

.global-footer p {
    text-align: center;
    width: 100%;
    margin-top: 20px;
}


.section-title {
    text-align: center;
    margin: 40px 0;
}

.section-title h2 {
    font-size: 2.5em;
    color: #333;
    margin: 0;
}

.card-component {
    display: flex;
    flex-wrap: wrap; /* Permite que las cards se ajusten al ancho del contenedor */
    gap: 20px;
    justify-content: center;
    max-width: 100%; /* Asegura que el contenedor ocupe el 100% del ancho disponible */
    margin: 0 auto;
    padding: 0 20px; /* Añade padding para evitar que las cards toquen los bordes */
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 350px;
    transition: transform 0.3s, box-shadow 0.3s;
    flex: 1 1 300px; /* Permite que las cards se ajusten y crezcan según el espacio disponible */
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-header {
    background-color: #f35555;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.card-header h3 {
    margin: 0;
    font-size: 1.5em;
}

.card-body {
    padding: 20px;
    color: #333;
}

.card-body p {
    margin: 0;
    font-size: 1em;
    line-height: 1.5;
}

/*inicio implementacion de modal */
.modal-button{
    padding: 0em;
    border: none;
    background: none;
}

.modal-button:hover {
    color: #eef0f3;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.modal-content {
    position: absolute;
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    left: 24%;
    top: 14%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.7s ease, transform 0.7s ease;
    width: 300px;
}

.modal.show .modal-content {
    opacity: 1;
    transform: translate(-50%, 0);
}

.close {
    cursor: pointer;
    font-size: 24px;
    float: right;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* fin implementacion de modal */


